/* * {
    background-color: white;
} */


.reviews{
    margin-bottom: 30px;
    padding: 0px 15px;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reviews-data{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.user-icon {

    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: lightgray;
    font-size: larger;
    display: flex;
    align-content: center;
    justify-content: center;
}

.user-icon{
    color: white;
    align-content: center;
    font-size: 35px;
}

.rating p{
    color: #AAAA;
}

.user h6{
    color: #DDE3F0;
}

.reviews p{
    color: #B0B8C5;
}