.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #d6deea;
  padding: 10px 10px;
}

.icons{
    display: flex;

}
.icons i{
    margin-left: 30px;
} 