.subscribe .btn {
    background-color: orangered;
    margin-top: 8px;
    border-radius: 2px;
    color: #d6deea;
    padding: 5px;
    width: 110px;
}

.subscribe h1 {
    color: #d6deea;
}

.subscribe p{
    color: lightgray;
}

.about {
    display: flex;
    flex-direction: column;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-email-input {
  width: 100%;
  padding: 12px 14px;
  background-color: #121212;
  border: 1px solid #403f3f;
  border-radius: 4px;
  color: #EDEDED;
  font-size: 14px;
  outline: none;
}

.footer-email-input::placeholder {
  color: #8A8A8A;
}

.footer {
    display: flex;
    width: 100%;
    gap: 150px;
    justify-content: space-between;
    padding: 20px 10px;

    background-color: black;
}

.footer .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.about h3 {
    margin: 0 0 10px 0;
    color: #d6deea;
}

.about li {
    margin-top: 8px;
    color: #B3B3B3;
    padding-right: 50px;
}

.about li:hover {
    color: #FFFFFF;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}

.desc {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.desc .icons {
    color: white;
    display: flex;
    gap: 20px;
    padding-right: 30px;
}

.desc p {
    color:lightgray;
}